/* Main Styles */
* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  background: #aeb0b5;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1, ul {
  list-style: none;
  text-transform: uppercase;
}

h1 a, ul a {
  text-decoration: none;
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 1.5em;  
  font-weight: 400;
  color: #212121;
  letter-spacing: .45em;
  padding-bottom: 12px;  
}

ul {
  display: flex;
}

ul a {
  display: block;
  padding: 1em;
  color: #212121;
}

ul a:hover {
  background: #d6d7d9;
  border-radius: 8px;
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 3.0em;
  font-weight: bold;
  color: #e4e2e0;
  margin: 1em;
  padding-top: 24px;
  padding-left: 2%;
  letter-spacing: 1.4px;
  position: relative;
}

article {
  display: flex;
}

blockquote {
  font-family: 'Oswald', sans-serif;
  font-size: 1.7em;
  font-weight: 700;
  color: #e4e2e0;
  border: 1px solid #e4e2e0;
  padding: 10% 10% 10% 10%;
  margin: 10% 10% 10% 10%; 
}

img {
  padding: 20px;
}

/* TODO: center text area, responsiveness, this is the landing page right?, get rid of most of the photos, either 1 large or three medium that stack responsively */
footer {
  background: rgba(33, 33, 33, .5);
  color: #f1f1f1;
  font-family: "Archivo Narrow", sans-serif;
  margin: 20px 20px 20px 20px;
}

/* redo this bit */
footer > p {
  display: block;
  border: 1px solid #f1f1f1;
  padding: 10px 10px 10px 10px;
}

/* Media Queries */

@media all and (max-width: 990px) {
  .container {
    flex-direction: column;
  }

  h1 {
    margin: 0;
  }

  ul {
    width: 100%;
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  h1 {
    margin: .25em 0;
    align-self: left;
    /* this aligns the h1 element to the left of the flex container */
  }

  ul {
    flex-direction: column;
  }

  ul a {
    text-align: center;
    padding: 10px;    
  }
}